<html>
  <body>

    <div class="post">

      <%# Post %>
      <h2 class="title">
        <%= @post.title %>
      </h2>

      <small class="meta">
        <span class="author">by <%= @post.author %> -</span>
        <em class="created_at"><%= @post.created_at %></em>
      </small>
      
      <p class="body"><%= @post.body %></p>
    
      <br /><br />

      <%# Comments %>
      <div class="comments">
        <h3>Comments:</h3>

        <hr />

        <%# Show Comments %>
        <% @post.comments.each_with_index do |comment, index| %>
          <div class="comment">

            <p class="comment_body"><%= comment.body %></p>

            <small class="comment_meta">
              <span class="comment_author"><%= index + 1 %> by <%= comment.author %> -</span>
              <em class="comment_created_at"><%= comment.created_at %></em>
            </small>

          </div>

          <%# Delete Comment %>
          <form method="POST" action="/list_posts/<%= @post.id %>/delete_comment/<%= comment.id %>">
            <input type="submit" value="Delete Comment" />
          </form>          
          <%# End Delete Comment %>

        <% end %>
        <%# End Show Comments %>

        <%# Show Comment Errors %>
        <div class="errors">
          <% comment.errors.each do |attribute, error| %>
            <p class="error" style="color: orange">
              <%= attribute %>: <%= error %>
            </p>
          <% end%>
        </div>
        <%# End Show Comment Errors %>

        <%# Submit Comment %>
        <form method="POST" action="/create_comment_for_post/<%= post.id %>">

          <label for="body">Comment</label>
          <textarea id="body" name="body"><%= comment.body %></textarea>
          <br /> <br />

          <label for="author">Name</label>
          <input id="author" name="author" type="text" value="<%= comment.author %>"/>
          <br /> <br />

          <input type="submit" value="Add Comment" />
          
        </form>
        <%# End Submit Comment %>

        <hr />

      </div>
      <%# End Comments %>


    </div>
    <%# End Post %>

    <br />

    <%# Link to list_posts %>
    <a href="/list_posts">Back to Posts</a>

  </body>
</html>